[Unit]
Description=Comments Server for Alpha Tree Service
After=multi-user.target

[Service]
Type=idle
User=porthose_cjsmo_cjsmo
Restart=always
RestartSec=10
ExecStart=/home/porthose_cjsmo_cjsmo/atscommentsserver/atscommentsserver

[Install]
WantedBy=multi-user.target

