[Unit]
Description=ATS Comments Server
After=network.target

[Service]
Type=forking

User=deploy
Group=deploy

ExecStart=atscomments


Restart=always
RestartSec=10
KillSignal=SIGINT

SyslogIdentifier=atscomments-service
PrivateTmp=true

[Install]
WantedBy=multi-user.target